

OIDC_PRIVATE_KEYS='{
    "keys" : [
        {
            "kid" : "3d2eb676-2719-d4ed-5d62-9d09f42f55fa",
            "pem" : ""
        },
        {
            "kid" : "bcc81425-25a8-6a3f-babc-f3f9f3824bc9",
            "pem" : ""
        }
    ]
}'

OIDC_PUBLIC_KEYS='{
    "keys" : [
        {
            "kid": "3d2eb676-2719-d4ed-5d62-9d09f42f55fa",
            "kty": "RSA",
            "alg": "RS256",
            "use": "sig",
            "n": "xBEeF3pKj-_JB9nlJ2FRkFgqJf-HMaVUo2Hr1pwfj7VLOEl4egp-cSP44CVicCz_gcFq3-yvJ8axeGEPuqvQ-saqOoSWGfaosAY_ftiIAioeZvZyW6JcxgLD3VpAHOhDOJ_7fN0U496bF4CPEDoK4YiAnMTsUlpSwYNa7XuMzbmK1r_A6MWI7zRP83sWrs05tO9gT1xhiwGkdNR8RU3vTHLc2Sx4xGiXCkhENaOuPzdATgvGnNEOeNSwZBwjr6qHODJ5eljPk66JYf-ATC7YprDU4t94b3Q-RvSzbERSwzt8UMgxDj2xM5VY4QmhckDwEhIZggLmdVLpTCJ8eHqmQw",
            "e": "AQAB"
        },
        {
            "kid": "bcc81425-25a8-6a3f-babc-f3f9f3824bc9",
            "kty": "RSA",
            "alg": "RS256",
            "use": "sig",
            "n": "x56UuI92cTp63k8t-VlVdfnuAPSqtiux0QS55x8ItoVwrOMrSwxOpy5COYh2rlqG_ogQg53PaDqYXWawTVv0PgUtHcjx-nk9uXUZQ2MFCLLbCpGxlVltwCV6KLIubGXlSRDYbx7F5SJtPsWMddHE-KdU18nK5ZMhPgWQ5dqbbAx5allrjpqkMDGYEEXWKyTXLb3ggLudDUAwFn4UINGpJ9rvoc4bAV6BKXZX_ux0V8_tWdrVkGR1agpD3FDXCq-pGj3LfIslf0zgsTjewXouu6yFV4nyrOz54nMJb8yQJ2UVqGROqC3MgxoYbOo5lJ_17Mb_-HEZi2ubbxlv7h4fYw",
            "e": "AQAB"
        }
    ]
}'

SERVER_URL=''

REDIS_PASSWORD=test-password