<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/main}"
>
    <head>
    </head>
    <body>
        <div layout:fragment="sub-layout">
            <div class="flex justify-center items-center h-screen bg-gray-200">
                <div 
                    layout:fragment="content"
                    class="shadow-md rounded bg-white w-full max-w-200 p-8 flex flex-col gap-8"
                >
                </div>
                </div>
            </div>
        </div>
    </body>
</html>
