<!DOCTYPE html>
<html 
    xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layouts/auth}"
>
    <head>
        <title>Sign in</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="flex flex-col justify-center items-center">
                <div class="text-3xl font-bold">
                    KotetsuアカウントにSign in
                </div>
            </div>
            <form
                th:action="@{/login}"
                method="post"
            >
                <div class="flex flex-col gap-10">
                    <div th:if="${param.error}">
                        <div th:replace="fragments/alert :: alert('認証に失敗しました。')"></div>
                    </div>
                    <div>
                        <input
                            class="border focus:outline-black focus:outline-2 border-gray-300 bg-white w-full p-2 rounded tracking-wider" 
                            type="text"
                            name="username"
                            placeholder="メールアドレス"
                        />
                    </div>
                    <div>
                        <input
                            class="border focus:outline-black focus:outline-2 border-gray-300 bg-white w-full p-2 rounded tracking-wider"
                            type="password"
                            name="password"
                            placeholder="パスワード"
                        />
                    </div>
                    <div class="flex justify-center w-full">
                        <button
                            class="w-1/2 font-bold text-white p-2 bg-black hover:bg-gray-700 rounded-full cursor-pointer"
                            type="submit"
                        >
                            Sign in
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </body>
</html>
