<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>ログイン</title>
        <link rel="stylesheet" th:href="@{/css/output.css}">
    </head>
    <body>
        <div>
            <div th:if=${param.error}>メールアドレスまたはパスワードが違います。</div>
        </div>
        <form th:action="@{/login}" method="post">
            <div>
                <label>メールアドレス</label>
                <input type="text" name="username" />
            </div>
            <div>
                <label>パスワード</label>
                <input type="password" name="password" />
            </div>
            <div>
                <button 
                    type="submit"
                    class="w-full bg-blue-600 text-white py-2 rounded-md hover:bg-blue-700 transition-colors"
                >
                    ログイン
                </button>
            </div>
        </form>
    </body>
</html>
