<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>Sing in</title>
        <link rel="stylesheet" th:href="@{/css/output.css}">
    </head>
    <body>
        <div class="flex justify-center items-center h-screen bg-gray-50">
            <div class="shadow-md rounded bg-white w-full max-w-200 p-8 flex flex-col gap-8">
                <div class="flex flex-col justify-center items-center">
                    <div class="text-3xl font-bold">
                        KotetsuアカウントにSign in
                    </div>
                </div>
                <form
                    th:action="@{/login}"
                    method="post"
                >
                    <div class="flex flex-col gap-6">
                        <div class="flex flex-col justify-center items-center">
                            <div
                                th:if=${param.error}
                                class="text-red-800"
                            >
                                メールアドレスまたはパスワードが違います。
                            </div>
                        </div>
                        <div>
                            <input
                                class="border border-gray-300 bg-white w-full p-2 rounded" 
                                type="text"
                                name="username"
                                placeholder="メールアドレス"
                            />
                        </div>
                        <div>
                            <input
                                class="border border-gray-300 bg-white w-full p-2 rounded"
                                type="password"
                                name="password"
                                placeholder="パスワード"
                            />
                        </div>
                        <div>
                            <button
                                class="w-full font-bold text-white p-2 bg-black hover:bg-gray-600 active:bg-gray-800 rounded"
                                type="submit"
                            >
                                Sign in
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
