<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>ログイン</title>
        <link rel="stylesheet" th:href="@{/css/output.css}">
    </head>
    <body>
        <div class="flex justify-center items-center py-64">
            <div class="flex items-center h-screen flex-col bg-gray-100">
                <div>
                    <div th:if=${param.error}>メールアドレスまたはパスワードが違います。</div>
                </div>
                <form th:action="@{/login}" method="post">
                    <div>
                        <label>メールアドレス</label>
                        <input
                            class="border border-gray-300 bg-white" 
                            type="text"
                            name="username"
                        />
                    </div>
                    <div>
                        <label>パスワード</label>
                        <input
                            class="border"
                            type="password"
                            name="password"
                        />
                    </div>
                    <div>
                        <button 
                            type="submit"
                        >
                            ログイン
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>
