<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <title>操作権限移譲に関する確認画面</title>
    </head>
    <body>
        <p>
            お客様所有のデータに対する下記操作権限を「<span th:text="${client_name}"></span>」に移譲します。
        </p>
        <div>
            移譲する操作権限一覧:
        </div>
        <ul>
            <li th:each="scopeDescription : ${scopeDescriptions}" th:text="${scopeDescription}"></li>
        </ul>
        <div>
            内容をご確認のうえ、同意いただける場合のみ「次へ進む」を選択してください。
        </div>
        <div>
            同意されない場合は「キャンセル」を選択してください。
        </div>
        <form th:action="@{/oauth2/authorization/consent/code}" method="post">
            <input type="hidden" name="client_id" th:value="${client_id}" />
            <input type="hidden" name="redirect_uri" th:value="${redirect_uri}" />
            <input type="hidden" name="nonce" th:value="${nonce}" />
            <input type="hidden" name="code_challenge" th:value="${code_challenge}" />
            <input type="hidden" name="state" th:value="${state}" />
            <input type="hidden" name="username" th:value="${username}" />
            <input type="hidden" name="scope" th:value="${scope}" />
            <input type="hidden" name="access_type" th:value="${access_type}" />
            <input type="hidden" name="response_type" th:value="${response_type}" />
            <button>
                次へ進む
            </button>
        </form>
        <form th:action="@{/oauth2/authorization/deny}" method="post">
            <input type="hidden" name="client_id" th:value="${client_id}" />
            <input type="hidden" name="redirect_uri" th:value="${redirect_uri}" />
            <input type="hidden" name="state" th:value="${state}" />
            <button>
                キャンセル
            </button>
        </form>
    </body>
</html>
